@model CarServiceMS.Models.BindingModels.UsersListingModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html lang="en">
</html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/CarTable.css">
</head>

<body>


    <div class="table-title">
    </div>
    @if (@Model.Users != null)
    {
        @if (Model.Users.Any())
        {
            <h1 align="center" style="color: black">Users</h1>

            <div>
                <table class="table-fill" style="table-layout:fixed">

                    <col width="200" />
                    <col width="200" />
                    <col width="200" />
                    <col width="200" />
                    <col width="200" />

                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">
                                <input id="search-box" class="form-control input" onkeyup="search()" type="text" placeholder="Search..." />
                            </th>

                            <th>
                            </th>

                            <th class="text-center" colspan="2">
                                <select class="browser-default custom-select" id="search-selector">

                                    <option value="Username">Username</option>
                                    <option value="Email">Email</option>
                                    <option value="PhoneNumber">Phone Number</option>
                                    <option value="MemberSince">Member Since</option>
                                    <option value="CarBrand">Car Brand</option>
                                    <option value="CarModel">Car Model</option>
                                    <option value="CarNumber">Car Number</option>

                                </select>

                            </th>
                        </tr>
                        <tr>

                            <th class="text-center">Username</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone Number</th>
                            <th class="text-center">Member Since</th>
                            <th class="text-left"></th>

                        </tr>
                    </thead>
                    <tbody class="table-hover">

                        <tr id="NoUsers" style="display: none">
                            <td class="text-center" colspan="5">
                                <h1>
                                    <strong>There is no such user.</strong>
                                </h1>
                            </td>
                        </tr>

                        <!-- List all users, but cuurrent logged user -->
                        @foreach (var user in this.Model.Users.Where(u => u.Username != this.User.Identity.Name))
                        {
                            <tr>
                                <td name="Username" class="text-center">@user.Username</td>
                                <td name="Email" class="text-center">@user.Email</td>
                                <td name="PhoneNumber" class="text-center">@user.PhoneNumber</td>
                                <td name="MemberSince" class="text-center">@user.MemberSince.ToShortDateString()</td>

                                <td class="text-center">

                                    <a asp-controller="Car" asp-action="ShowCars" asp-route-id="@user.Id">
                                        <button class="btn btn-dark button-Register">Cars</button>
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <h1 align="center">There are no users!</h1>

        }
    }
    else
    {
        <h1 align="center">There are no users!</h1>
    }

</body>



<script>
    let serachBox = document.getElementById("search-box");
    let serachSelector = document.getElementById("search-selector");
    let noUsersRow = document.getElementById("NoUsers");
    let searchText = "";

    function search() {

        let searchElementsCategory = Array.from(document.getElementsByTagName("td"));

        searchText = serachBox.value;

        let isThereSuchElement = searchElementsCategory.find(element => getElement(element));


        if (isThereSuchElement) {

            searchElementsCategory.forEach(element => filterTheElements(element));
            noUsersRow.style.display = "none";

        } else {
            searchElementsCategory.forEach(element => filterTheElements(element));


            noUsersRow.style.display = "table-row";
        }


    }

    function filterTheElements(element) {

        if (element.getAttribute('name') === serachSelector.value) {

            if (!element.innerText.toUpperCase().includes(searchText.toUpperCase())) {

                element.parentElement.style.display = "none";

            } else {

                let isTheElementHidden = element.parentElement.style.display === "none";


                if (isTheElementHidden) {

                    element.parentElement.style.display = "table-row";
                }
            }

        }

    }


    function getElement(element) {

        return element.innerText.toUpperCase().includes(searchText.toUpperCase()) && 
            element.getAttribute('name') === serachSelector.value;
    }
</script>
