@model CarServiceMS.Web.ViewModels.AdminViewModels.AdminUserViewModels.UserDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-image: url(/images/backgorund_2.jpg-1.png); background-size: 100%">
    <h1 align="center" class="h1-show-cars border">@Model.Username Profile Details</h1>



    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <div class="row box" style="border-bottom-right-radius: 1%;border-bottom-left-radius: 1%; padding-top:3%;">
            <div class="col">

                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Username" class="font-weight-bold"></label>
                    </div>
                    <input asp-for="Username" class="form-control border-dark" disabled style="text-align:center; background:white;" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Email" class="font-weight-bold"></label>
                    </div>
                    <input asp-for="Email" class="form-control border-dark" type="text" placeholder="Model..." disabled style="text-align:center; background:white;" />

                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="PhoneNumber" class="font-weight-bold">Phone Number</label>
                    </div>
                    <input asp-for="PhoneNumber" class="form-control border-dark" placeholder="Year..." disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="MemberSince" class="font-weight-bold">Member Since</label>
                    </div>
                    <input asp-for="MemberSince" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <a asp-controller="AdminUser" asp-action="ChangeUserRole" asp-route-username="@Model.Username" asp-route-userId="@Model.Id" asp-route-currentRole="@Model.Role">
                            <button class="btn btn-dark button-Register" style="padding-left:20px; padding-right:20px; padding-bottom:3px; padding-top:1px; margin-bottom: 5px" onclick="cancelDescriptionEditing()">Role</button>
                        </a>
                    </div>
                    <input asp-for="Role" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />

                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <a asp-controller="AdminUser" asp-action="ListUserCars" asp-route-username="@Model.Username" asp-route-id="@Model.Id">
                            <button class="btn btn-dark button-Register" style="padding-left:20px; padding-right:20px; padding-bottom:3px; padding-top:1px; margin-bottom: 5px" onclick="cancelDescriptionEditing()">Cars</button>
                        </a>
                    </div>
                    <input asp-for="CarsCount" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />

                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content" style="padding-top:10px">
                        <a asp-controller="AdminUser" asp-action="ListAllUsers">
                            <button class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()">Back</button>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col">

                <div class="d-flex justify-content-center">
                    <label asp-for="PersonalityDesctription" class="font-weight-bold">Personality Desctription</label>
                </div>

                <div class="container border-dark" style="overflow-x:auto;">
                    <div style="width: 30em; word-wrap: break-word;">
                        <span id="span-description" style="display:inherit; padding-bottom:20px; padding-left: 20px;">@Model.PersonalityDesctription</span>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button id="btn-edit" class="btn btn-dark button-Register" onclick="editDescription()">Edit Description</button>
                </div>

                <form asp-controller="AdminUser" asp-action="EditPersonalityDesctription" asp-route-id="@Model.Id" method="post">
                    <textarea id="textarea-description" asp-for="PersonalityDesctription" class="form-control" placeholder="Description" style="min-height:200px; max-height:300px; display:none">@Model.PersonalityDesctription</textarea>
                    <div style="text-align:center">
                        <span id="validation-span" asp-validation-for="PersonalityDesctription" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center" style="padding:10px">
                        <button id="btn-confirm" type="submit" class="btn btn-dark button-Register" style="display:none">Confirm</button>
                    </div>
                </form>

                <div class="d-flex justify-content-center">
                    <button id="btn-cancel" class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()" style="display:none">Cancel</button>
                </div>

            </div>

        </div>
        <input asp-for="Id" type="hidden" />

    </div>

</body>


<script>

    let descriptionTextarea = document.getElementById("textarea-description");
    let descriptionSpan = document.getElementById("span-description");

    let validationSpan = document.getElementById("validation-span");

    let btnEdit = document.getElementById("btn-edit");
    let btnConfirm = document.getElementById("btn-confirm");
    let btnCancel = document.getElementById("btn-cancel");


    function editDescription() {
        descriptionSpan.style.display = "none";
        descriptionTextarea.style.display = "block";

        console.log(btnCancel);

        btnEdit.style.display = "none";
        btnConfirm.style.display = "block";
        btnCancel.style.display = "block";

        validationSpan.style.visibility = "visible";
    }

    function cancelDescriptionEditing() {
        descriptionSpan.style.display = "inherit";
        descriptionTextarea.style.display = "none";

        btnEdit.style.display = "block";
        btnConfirm.style.display = "none";
        btnCancel.style.display = "none";

        descriptionTextarea.value = descriptionSpan.innerText;
        validationSpan.style.visibility = "hidden";
    };


</script>
<script src="~/lib/jquery/dist/jquery.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
