@model CarServiceMS.Web.ViewModels.CarServicesViewModels.RepairViewModels.RepairDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "RepairDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal partsTotalCosts = 0;
    decimal actionsTotalCosts = 0;
    decimal totalCosts = 0;
    foreach (var part in Model.Parts)
    {
        partsTotalCosts = partsTotalCosts + part.TotalPrice;
    }
    foreach (var action in Model.CompletedActions)
    {
        actionsTotalCosts = actionsTotalCosts + action.Price;
    }

    totalCosts = partsTotalCosts + actionsTotalCosts;
}

<body style="background-image: url(/images/backgorund_2.jpg-1.png); background-size: 100%">
    <h1 align="center" class="h1-show-cars border">Repair Number: @Model.Id</h1>
    <div class="container">
        <div class="row box" style="border-bottom-right-radius: 1%;border-bottom-left-radius: 1%; padding-top:3%;">
            <div class="col">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="JobNum" class="font-weight-bold"></label>
                    </div>
                    <input asp-for="JobNum" class="form-control border-dark" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Brand" class="font-weight-bold">Car Brand</label>
                    </div>
                    <input asp-for="Car.Brand" class="form-control border-dark" type="text" placeholder="Model..." disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="CurrentKilometers" class="font-weight-bold">Car Current Kilometers</label>
                    </div>
                    <input asp-for="CurrentKilometers" class="form-control border-dark" placeholder="Kilometers..." disabled style="text-align:center; background:white;" />
                </div>
            </div>
            <div class="col">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="JobDate" class="font-weight-bold">Job Date</label>
                    </div>
                    <input asp-for="JobDate" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Model" class="font-weight-bold">Car Model</label>
                    </div>
                    <input asp-for="Car.Model" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Owner.Username" class="font-weight-bold">Customer Name</label>
                    </div>
                    <input asp-for="Car.Owner.Username" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
            </div>
            <div class="col">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="DateIn" class="font-weight-bold">Date/Time In</label>
                    </div>
                    <input asp-for="DateIn" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.YearFrom" class="font-weight-bold">Car Year</label>
                    </div>
                    <input asp-for="Car.YearFrom" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Owner.PhoneNumber" class="font-weight-bold">Customer Phone Number</label>
                    </div>
                    <input asp-for="Car.Owner.PhoneNumber" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
            </div>
            <div class="col">
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="DateOut" class="font-weight-bold">Data/Time Out</label>
                    </div>
                    <input asp-for="DateOut" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Number" class="font-weight-bold">Car Registration Number</label>
                    </div>
                    <input asp-for="Car.Number" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
                <div class="form-group w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Car.Owner.Email" class="font-weight-bold">Car Customer Email</label>
                    </div>
                    <input asp-for="Car.Owner.Email" class="form-control border-dark" type="text" disabled style="text-align:center; background:white;" />
                </div>
            </div>
        </div>
    </div>
    @if (Model.Parts.Any())
    {
        <h1 align="center" class="h1-show-cars border">Used Parts</h1>
        <div class="container">
            <div class="row box" style="border-bottom-right-radius: 1%;border-bottom-left-radius: 1%; padding-top:3%;">
                <div class="col">
                    <table>
                        <tr>
                            <th>Part Number</th>
                            <th>Part Description</th>
                            <th>Purchase Date</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                        @foreach (var part in Model.Parts)
                        {
                            <tr>
                                <td>@part.PartNumber</td>
                                <td>@part.PartDescription</td>
                                <td>@part.PurchaseDate.ToShortDateString()</td>
                                <td>@part.UnitPrice</td>
                                <td>@part.Quantity</td>
                                <td>@part.TotalPrice</td>
                            </tr>
                            
                        }
                    </table>
                </div>

            </div>
        </div>
    }
    else
    {
        <h1 style="margin-bottom:20px" align="center" class="h1-show-cars border">No Parts are Used!</h1>
    }
    <h1 align="center" class="h1-show-cars border">Completed Actions and Reported Defects</h1>
    <div class="container">
        <div class="row box" style="border-bottom-right-radius: 1%;border-bottom-left-radius: 1%; padding-top:3%;">
            <div class="col">
                @if (Model.ReportedDefects.Any())
                {
                    <h2 align="center" class="h1-show-cars border">Reported Defects</h2>

                    <table style="margin-bottom:20px">
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                        </tr>
                        @foreach (var defect in Model.ReportedDefects)
                        {
                            <tr>
                                <td>@defect.Id</td>
                                <td>@defect.Description</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <h2 style="margin-bottom:20px" align="center" class="h1-show-cars border">There are no Reported Defects! </h2>
                }

                @if (Model.CompletedActions.Any())
                {
                    <h2 align="center" class="h1-show-cars border">Completed Actions</h2>

                    <table>
                        <tr>
                            <th>Id</th>
                            <th>Description</th>
                            <th>Price</th>

                        </tr>
                        @foreach (var action in Model.CompletedActions)
                        {
                            <tr>
                                <td>@action.Id</td>
                                <td>@action.Description</td>
                                <td>@action.Price</td>

                            </tr>
                        }
                    </table>
                }
                else
                {
                    <h2 style="margin-bottom:20px" align="center" class="h1-show-cars border">There are no Completed Action! </h2>
                }
            </div>
        </div>
    </div>
    <h1 align="center" class="h1-show-cars border">Total Costs</h1>
    <div class="container">
        <div class="row box" style="border-bottom-right-radius: 1%;border-bottom-left-radius: 1%; padding-top:3%;">
            <div class="col">
                @if (Model.ReportedDefects.Any())
                {

                    <table style="margin-bottom:20px">
                        <tr>
                            <th>Parts Total Costs</th>
                            <th>Actions Total Costs</th>
                            <th>Total Costs</th>

                        </tr>
                        <tr>
                            <td>@partsTotalCosts</td>
                            <td>@actionsTotalCosts</td>
                            <td>@totalCosts</td>
                        </tr>

                    </table>
                }
                else
                {
                    <h2 style="margin-bottom:20px" align="center" class="h1-show-cars border">There are no Costs!</h2>
                }
            </div>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #1B1E24;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #1B1E24;
        color: #D5DDE5;
        border-color: white;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: #d9d9d9;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
